<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-top padding-bottom>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

  <ion-card>
    <ion-card-header>
      Castle ranking
    </ion-card-header>

    <ion-list>

      <ion-grid no-padding>
        <span ion-item *ngIf="!home.ranks.loading && !home.ranks.noData && !home.ranks.error">
          <ion-row *ngFor="let item of home.ranks.data | sortBy : 'score'; let i = index">
            <ion-col col-6>{{i + 1}}. {{getCastleIcon(item.castle)}} {{item.castle}}</ion-col>
            <ion-col col-4>{{item.score}}</ion-col>
            <ion-col col-2 text-right>
                <span *ngIf="i === 0">🏆</span>
            </ion-col>
          </ion-row>
        </span>
        <span ion-item text-center *ngIf="home.ranks.loading">
          <loader></loader>
        </span>
        <span ion-item text-center *ngIf="home.ranks.error || home.ranks.noData">
          <ion-icon name="warning"></ion-icon>
          <br>
          <span *ngIf="home.ranks.error">Something went wrong</span>
          <span *ngIf="home.ranks.noData">No data to show</span>
        </span>
      </ion-grid>

    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Latest war results
    </ion-card-header>

    <ion-list>
      <ion-grid no-padding>
        <span ion-item *ngIf="!home.results.loading && !home.results.noData && !home.results.error">
          <ion-row>
            <ion-col col-6>Castle</ion-col>
            <ion-col col-2>
              <!-- <ion-icon name="ribbon"></ion-icon> -->
              👌
            </ion-col>
            <ion-col col-2>
              <!-- <ion-icon name="logo-usd"></ion-icon> -->
              💰
            </ion-col>
            <ion-col col-2>
              <!-- <ion-icon name="cube"></ion-icon> -->
              📦
            </ion-col>
          </ion-row>
        </span>

        <span ion-item *ngIf="!home.results.loading && !home.results.noData && !home.results.error">
          <ion-row *ngFor="let result of home.results.data | sortBy : 'score'; let j = index">
            <ion-col col-6>{{j + 1}}. {{getCastleIcon(result.castle)}} {{result.castle}}</ion-col>
            <ion-col col-2>{{result.score}}
              <ion-icon *ngIf="result.score > 0" name="ios-arrow-round-up" color="secondary"></ion-icon>
              <ion-icon *ngIf="result.score < 0" name="ios-arrow-round-down" color="danger"></ion-icon>
            </ion-col>
            <ion-col col-2>{{result.gold | kformat}}</ion-col>
            <ion-col col-2>{{result.stock | kformat}}</ion-col>
          </ion-row>
        </span>

        <span ion-item text-center *ngIf="home.results.loading">
          <loader></loader>
        </span>
        <span ion-item text-center *ngIf="home.results.error || home.results.noData">
          <ion-icon name="warning"></ion-icon>
          <br>
          <span *ngIf="home.results.error">Something went wrong</span>
          <span *ngIf="home.results.noData">No data to show</span>
        </span>

      </ion-grid>

    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Scores compared to last war
    </ion-card-header>

    <ion-list>
      <ion-grid no-padding>
        <span ion-item *ngIf="!home.cumulative.loading && !home.cumulative.noData && !home.cumulative.error">
          <ion-row *ngFor="let item of home.cumulative.data.display | sortBy : 'score'; let i = index">
            <ion-col col-6>{{i + 1}}. {{getCastleIcon(item.castle)}} {{item.castle}}</ion-col>
            <ion-col col-4>{{item.score}}</ion-col>
            <ion-col col-2 text-right>{{item.diff}}
                <ion-icon *ngIf="item.score > 0" name="ios-arrow-round-up" color="secondary"></ion-icon>
                <ion-icon *ngIf="item.score < 0" name="ios-arrow-round-down" color="danger"></ion-icon>
            </ion-col>
          </ion-row>
        </span>
        <span ion-item text-center *ngIf="home.cumulative.loading">
          <loader></loader>
        </span>
        <span ion-item text-center *ngIf="home.cumulative.error || home.cumulative.noData">
          <ion-icon name="warning"></ion-icon>
          <br>
          <span *ngIf="home.cumulative.error">Something went wrong</span>
          <span *ngIf="home.cumulative.noData">No data to show</span>
        </span>
      </ion-grid>

    </ion-list>
  </ion-card>

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
