<!--
  Generated template for the EquipmentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Equipments</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding-top padding-bottom>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-list>
    <span *ngIf="!equip.loading && !equip.noData && !equip.error">
      <ion-item-group *ngFor="let category of equip.data.categories">
        <ion-item-divider color="light">{{category}}</ion-item-divider>
        <span *ngFor="let item of equip.data.items">
            <ion-item *ngIf="item.subtype === category">
                <h2>{{item.name}}
                  <span *ngIf="item.redbook">📕</span>
                </h2>
                <h3>💰{{item.price}} ⚔️ {{item.attack}} ⛨ {{item.defense}}</h3>
                <p></p>
              </ion-item>
        </span>
      </ion-item-group>
    </span>
    <ion-item text-center *ngIf="equip.loading">
      <loader></loader>
    </ion-item>
    <ion-item ion-item text-center *ngIf="equip.error || equip.noData">
      <ion-icon name="warning"></ion-icon>
      <br>
      <span *ngIf="equip.error">Something went wrong</span>
      <span *ngIf="equip.noData">No data to show</span>
    </ion-item>
  </ion-list>
</ion-content>
